.main{
    height:480px;
    background-color:#dddddd;
    margin: 0 auto;
}
.header{
background-color: #ffffff;
border-bottom: #ebebeb solid 2px;
margin-bottom: 40px;
height:70px;
vertical-align: middle;
}

.footer{
background-color: #666666;
border-top: #4aaaa5 solid 5px;
padding: 20px;
margin-top:40px;
text-align: center;
}
.pageTitle{
padding:20px;
border-bottom: #888 solid 2px;
margin-bottom: 40px;
}
.name{
    font-size: 50px;
    background-color:  #4aaaa5;
    color: #dddddd;
    text-align: center;
}
.tabs{
    float:right;
    margin-top:10px;
    margin-right:50px;

}
.middle{
    background-color: #ffffff;
    border: #dddddd;
    margin:0 auto;
    width: 960px;
    height: 480px;

}
.profileImage{
    margin-right:10px;
}
.description{
    font-family:"Arial", "Helvetica Neue", Helvetica, sans-serif;
    color:#777777;
    text-align: justify;
    line-height: 30px;
}

h1{
    font-family: "Georgia", Times, Times New Roman, serif;
    color:#4aaaa5;
    
}
.projects{
    position: relative;
    height: 400px;
    background-color: darkgray;
  }
  
.image{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #888;
    border: 2px solid black;
  }
  
 .image1 {
    top: 6%;
    left: 2%;
  }
  
  .image2{
    top: 0 ;
    right: -40px;
  }
  
  .image3{
    right: 20px;
    bottom: -10px;
  }
  
  .image4 {
      left:-20px;
    bottom: 0;
  }
  .image5{
      bottom:0;
  }