* {
    box-sizing: border-box;
  }
  .main{
    height: 600px;
    background-color:#dddddd;
    background-image:
        url("https://www.toptal.com/designers/subtlepatterns/patterns/swirl_pattern.png");
    margin: 0 auto;
}
.header{
    background-color: #ffffff;
    border-bottom: #ccc solid 2px;
    height: 60px;
    margin-bottom:20px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}
a{
    text-decoration: none;
}
.borderRight{
    border-right:#ccc solid 2px;
    padding:5px;
    margin:5px;
}

.nameLogo{
    background-color:violet;
    color: #dddddd;
    font-weight: bold;
    font-size: 35px;
    padding: 25px;
    margin-left: 195px;      
}
.sidebar{
    float:right;
    width:620px;
    padding: 20px;
    text-align: center;
}
h1.pageTitle{
    padding:20px;
    border-bottom: #777 solid 2px;
    color:violet;
    font-size: 30px;
    font-weight: bold;
}
.content-section{
    background-color: #ffffff;
    border: #dddddd solid 2px;
    width: 960px;
    height: 460px;
    margin: 0 auto;
}
.contactForm{
    margin: 0 auto;
    padding: 20px;
    width:900px;
    height: 200px;
    text-align: justify;
}

img.profileImage {
    width:150px;
    margin:20px;
    float: left;
}
p.description {
    font-family:"Arial", "Helvetica Neue", Helvetica, sans-serif;
    color:#777777;
    margin:20px;
    line-height: 20px;
    text-align: justify;
}

.portfolioImages{
    padding: 10px;
    margin: 0 auto;
    width:900px;
    height: 400px;
}
.gameText1{
    width:150px;
    height:10px; 
    padding:10px;
    margin-left:20px;
    text-align: center;
    background-color: teal;
}
.gameText2{
    width:150px; 
    height:10px;
    padding:10px;
    text-align: center;
    background-color: teal;
}
.gameText3{
    width:150px; 
    height:10px;
    padding:10px;
    text-align: center;
    background-color: teal;
}
.gameText4{
    width:150px; 
    height:10px;
    padding:10px;
    text-align: center;
    background-color: teal;
}
.gameText5{
    width:150px; 
    height: 10px;
    padding:10px;
    text-align: center;
    background-color: teal;
}

.game1{
    padding: 10px;
}
.game2{
    padding: 10px;
}
.game3{

    padding: 10px;
}
.game4{
    padding: 10px;
}
.game5{
    padding: 10px;
}

.footer{
    background-color: #666666;
    border-top: #4aaaa5 solid 5px;
    padding: 20px;
    margin-top:70px;
    text-align: center;
}